<h3>Update "<%= @project.title %>"Project</h3>

<form action='/projects/<%= @project.id %>/edit' method="post">
<div class="form-group">
  <input name="_method" type="hidden" value="patch">

  <label for="title"> Change project name </label>
  <input id="title" name="title" type="text" class="form-control">
</div>
  <button type="submit" class="btn btn-info">Update Project</button>
</form>

<form action='/projects/<%= @project.id %>/edit' method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit" class="btn btn-danger">Delete Project</button>
</form>

<br>
<br>
<button class="btn btn-link"><a href="/">Home</a></button>