<h3>Update "<%= @project.title %>" Project</h3>

<form action='/projects/<%= @project.id %>/edit' method="post">
<div class="form-group">
  <input name="_method" type="hidden" value="patch">
  <div id="textField">
    <label for="title"> Change Project Name </label>
  </div>
  <input id="title" name="title" type="text" class="form-control">
</div>
  <button type="submit" class="btn">Update Project</button>
</form>
<br>
<form action='/projects/<%= @project.id %>/edit' method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit" class="btn">Delete Project</button>
</form>

<br>
<br>
<div id="homeButton">
  <button class="btn"><a href="/">Home</a></button>
</div>