<!DOCTYPE html>
<html>
  <head>
    <title>Volunteer Tracker</title>
    <link rel='stylesheet' href='https://maxcnd.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='styleshett' type='text/css' href='/public/styles.css'>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>