body { 
  background: url(img/beach_clean_up.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* margin: 0; */
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 15px;
  line-height: 20px;
  color: white;
}

h3 {
  color: white;
}

h4 {
  color: white;
}

#textField {
  color: white;
}

#homeButton {
  color: white;
}

#welcome {
  text-align: center;
}