body { 
  background: url(img/beach_clean_up.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family:'Courier New', Courier, monospace;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
}

h3 {
  color: white;
  font-weight: bold;
}

h4 {
  color: white;
  font-weight: bold;
}

#textField {
  color: white;
}

#homeButton {
  color: white;
}

#welcome {
  text-align: center;
  font-size: 43px;
  color: white;
}